
page,.taro_page {
	height: 100%;
}
.index {
	height: 100%;
	background: #6ac1a0;
	box-sizing: border-box;
	padding-top: 150px;
	.logo {
		width: 250px;
		display: block;
		margin: 0 auto;
		height: auto;
	}
	.at-form {
		background: none;
		&:after {
			opacity: 0;
		}
	}
	.at-input {
		background: none;
		margin: 0 80px 30px;
		border-bottom: 1px solid #bbe3d4;
		input {
			font-size: 30px;
			color: #fff;
			&::-webkit-input-placeholder {
				color: #cbeade;
				/*输入框提示语的字体样式*/
			}
		}
	}
	.at-input__icon-close {
		color: #f00;
		background: url(../../assets/clear.png) no-repeat center center;
		background-size: 34px;
		height: 34px;
		width: 34px;
		&:before {
			opacity: 0;
		}
	}
	.placeholderClass {
		color: #cbeade;
	}
	.getCode {
		font-size: 26px;
		color: #cbeade;
		font-weight: 600;
		display: block;
		width: 5em;
	}
	.submitBtn{
		background: #fff;
		color: #6ac1a0;
		margin: 80px 80px 25px;
	}
	.agree{
		color: #fff;
		font-size: 20px;
		.check{
			height: 18px;
			width: 18px;
			border: 4px solid #fff;
			position: relative;
			margin-right: 15px;
			&:after{
				content: '';
				display: block;
				position: absolute;
				height: 4px;
				width: 6px;
				border: 4px solid transparent;
				border-left-color: #fff;
				border-bottom-color: #fff;
				transform: rotate(-45deg);
				left: 2px;
			}
		}
	}
}
